<!DOCTYPE html>

<html class="no-js" lang="en"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="description" content="uvm.com is for sale at DomainNameSales.com, the online marketplace for premium domains.">
<meta name="keywords" content="uvm.com, Domains For Sale, Premium Domain Names, Domain Name Marketplace">
<title>:: UVM ::</title>

<link rel="stylesheet" href="{{ asset('bundles/login/css/globalStyles.css') }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ asset('bundles/login/css/DNSDark.css') }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ asset('bundles/login/css/typestyle.css') }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ asset('bundles/login/css/tip-yellowsimple.css') }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ asset('bundles/login/css/jquery-ui.css') }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ asset('bundles/login/css/landerContact.css') }}" type="text/css" media="all">

<script id="facebook-jssdk" async="" src="js/all.js"></script>

<script type="text/javascript" async="" src="{{ asset('bundles/login/js/mixpanel.2.js') }}"></script>
<script src="{{ asset('bundles/login/js/jquery-1.9.1.min.js') }}"></script>
<script src="{{ asset('bundles/login/js/jquery-ui.js') }}"></script>
<script src="{{ asset('bundles/login/js/touch-punch.js') }}" charset="utf-8"></script>
<script src="{{ asset('bundles/login/js/jquery.poshytip.min.js') }}" charset="utf-8"></script>
<script src="{{ asset('bundles/login/js/dns-helper.js') }}"></script>

</head>

<body class="mpf" marginwidth="0" marginheight="0">
        
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        {% block content %}{% endblock %}


        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-45278319-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        
<!--
        <div id="featured-on">
            <div class="content">
                <div class="even-space featured-on">
                    <div class="dns-featured">
                        <img src="img/dns-logo-white.png">
                        <p>featured on</p>
                    </div>
                    <img src="img/light-bloomberg-businessweek.png">
                    <img src="img/light-boston-globe.png">
                    <img src="img/light-marketwatch.png">
                    <img src="img/light-reuters.png">
                    <img src="img/light-yahoo-finance.png">
                </div>
            </div>
        </div>
        <p class="boiler"><a href="http://domainnamesales.com/privacy-policy">Privacy Policy</a>&nbsp;&nbsp;//&nbsp;&nbsp;<a href="http://domainnamesales.com/sales-terms">Sales Terms</a>&nbsp;&nbsp;//&nbsp;&nbsp;<a href="http://domainnamesales.com/payment-plan-terms">Payment Plan Terms</a><br>DomainNameSales.com takes your personal information very seriously.<br>All content © 2013 DomainNameSales.com™. All rights reserved.</p>
-->
    </div>
</div>
<!-- End Content BG -->
<video id="vbg" class="vid" poster="{{ asset('bundles/login/img/bg.jpg') }}" autobuffer="" autoplay="" loop=""></video>
</body>
</html>